<div class="wrapper">
  <div class="page-width featured-logos">
      <div class="grid collection-grid">
          <div class="grid__item small--hide medium--one-fifth large--one-fifth collection-college__item text-center">
            
          </div>
          <div class="grid__item one-whole medium--one-fifth large--one-fifth collection-college__item text-center">
             <img src="https://cdn.shopify.com/s/files/1/2523/5404/files/Dalai-Lama-sepia.png?15504576989298976747">
          </div>
          <div class="grid__item one-whole medium--one-fifth large--one-fifth collection-college__item text-center">
              <img src="https://cdn.shopify.com/s/files/1/2523/5404/files/irish-aid-sepia.png?15504576989298976747">
          </div>
          <div class="grid__item one-whole medium--one-fifth large--one-fifth collection-college__item text-center">
              <img src="https://cdn.shopify.com/s/files/1/2523/5404/files/jampa-ling-sepia.png?15504576989298976747">
          </div>
           <div class="grid__item small--hide medium--one-fifth large--one-fifth collection-college__item text-center">
            
          </div>
      </div>
    {% capture image_layout %}
      <div class="feature-row__item">
        {% if section.settings.image != blank %}
          <noscript>
            {{ section.settings.image | img_url: '600x600' | img_tag: section.settings.image.alt, 'feature-row__image-no-js' }}
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
            {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="feature-row__image lazyload"
              src="{{ section.settings.image | img_url: '300x300' }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-aspectratio="{{ section.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.image.alt | escape }}">
        </div>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    {% endcapture %}

   
  </div>
</div>

{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
